<!DOCTYPE html>
<html lang="pt-br">

<head>

    <% include ../includes/headerPainel.ejs %>
    <title>Boletos</title>

</head>

<body class="animsition">
    <!-- PAGE WRAPPER -->
    <div class="page-wrapper">
        
        <% include ../includes/headerMenus.ejs %>

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- MAIN CONTENT-->
            <section class="main-content">

                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                            </div>
                            <div class="table-data__tool-right">
                                <a href="./boletos/new">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>novo boleto</button></a>
                            </div>
                        </div>

                        <div class="row m-t-25">
                            <div class="table-responsive m-b-40">
                                <!-- DATA TABLE -->
                                <table class="table table-borderless table-data3">
                                    <thead class="blue-grey lighten-4">
                                        <tr>
                                            <th>ID</th>
                                            <th>CLIENTE</th>
                                            <th>VENCIMENTO</th>
                                            <th>VALOR</th>
                                            <th>OPÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < boletos.length; i++) { %>
                                            <tr>
                                                <td><%= boletos[i]._id %></td>
                                                <td><%= boletos[i].id_cliente %></td>
                                                <td><%= boletos[i].vencimento %></td>
                                                <td><%= boletos[i].valor %></td>
                                                <td><a href="/admin/boletos/search/<%= boletos[i]._id %>">Editar</a>
                                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <a href="/admin/boletos/delete/<%= boletos[i]._id %>">Deletar</a>
                                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <a href="/admin/boletos/file/<%= boletos[i]._id %>">Ver Boleto</a></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTENT-->

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Plano Imóveis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->

        </div>
        <!-- END PAGE CONTENT -->

    </div>
    <!-- END PAGE WRAPPER -->

    <% include ../includes/scriptPainel.ejs %>

</body>
</html>
