<!DOCTYPE html>
<html lang="pt-br">

<head>

    <% include ../includes/headerPainel.ejs %>
    <title>Boleto - Editar</title>

</head>

<body class="animsition">
    <!-- PAGE WRAPPER -->
    <div class="page-wrapper">
        
        <% include ../includes/headerMenus.ejs %>

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- MAIN CONTENT-->
            <section class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="table-responsive m-b-40">

                                <!-- CONTAINER -->
                                <div class="container">
                                    <form action="/admin/boletos/update/<%= boleto._id %>" method="POST">
                                        <label for="username">Cliente:</label>
                                        <input type="text" name="descricao" class="form-control" value="<%= boleto.id_cliente %>" readonly>
                                        <label for="descricao">Descrição:</label>
                                        <input type="text" name="descricao" class="form-control" value="<%= boleto.descricao %>">
                                        <label for="username">Vencimento:</label>
                                        <input type="date" name="vencimento" class="form-control" value="<%= boleto.vencimento %>">
                                        <label for="username">Valor:</label>
                                        <input type="text" name="valor" class="form-control" value="<%= boleto.valor %>">
                                        <br>
                                        <% include ../includes/fineuploader_boleto.ejs %>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Gravar</button>
                                        <a class="btn btn-primary" href="/admin/boletos">Voltar</a>
                                    </form>
                                </div>
                                <!-- END CONTAINER -->

                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTENT-->

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Plano Imóveis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>
        <!-- END PAGE CONTENT -->

    </div>
    <!-- END PAGE WRAPPER -->

    <% include ../includes/scriptPainel.ejs %>

</body>
</html>
